<ion-header>

  <ion-navbar>
    <ion-title>{{beacon.name}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-fab right bottom *ngIf="!isEditing">
    <button ion-fab color="primary"><ion-icon name="build"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab color="danger" (click)="toggleDeleteBeacon()"><ion-icon name="trash"></ion-icon></button>
      <button ion-fab color="primary" (click)="toggleEditBeacon()"><ion-icon name="create"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab bottom right *ngIf="isEditing">
    <button color="danger" ion-fab (click)="toggleEditBeacon()"><ion-icon name="close"></ion-icon></button>
  </ion-fab>

  <ion-grid>
    <ion-row justify-content-center>
      <ion-col col-sm-12 col-md-10 col-lg-8 col-xl-6>

        <ion-card>
          <img [src]="beaconProfileImage" />

          <ion-card-content>

            <div *ngIf="!isEditing">
              <p>
                <strong>GUID: </strong>{{beacon.guid}}
              </p>
              <p>
                <strong>Description: </strong>{{beacon.description}}
              </p>
            </div>

            <form *ngIf="isEditing" [formGroup]="editBeaconForm" (ngSubmit)="editBeacon(editBeaconForm.valid)">

              <div padding *ngIf="isEditing">
                <button color="primary" type="button" ion-button block (click)="toggleImageUpload()">Upload Image</button>
              </div>

              <div padding>
                <ion-item secondary>
                  <ion-label floating>Name:</ion-label>
                  <ion-input type="text" formControlName="name" [ngModel]="beacon.name"></ion-input>
                </ion-item>
              </div>

              <div padding>
                <ion-item secondary>
                  <ion-label floating>GUID:</ion-label>
                  <ion-input type="text" formControlName="guid" [ngModel]="beacon.guid"></ion-input>
                </ion-item>
              </div>

              <div padding>
                <ion-item secondary>
                  <ion-label floating>Description:</ion-label>
                  <ion-input type="text" formControlName="description" [ngModel]="beacon.description"></ion-input>
                </ion-item>
              </div>

              <div padding>
                <button color="primary" ion-button block type="submit">Update Beacons's Info</button>
              </div>

            </form>

            <div style="height:0px;overflow:hidden">
              <input #beaconImageInputEdit type="file" accept="image/*" />
            </div>

          </ion-card-content>

        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>