<ion-header>

  <ion-navbar>
    <ion-title>{{stream.name}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-fab right bottom *ngIf="!isEditing">
    <button ion-fab color="primary"><ion-icon name="build"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab color="danger" (click)="toggleDeleteStream()"><ion-icon name="trash"></ion-icon></button>
      <button ion-fab color="primary" (click)="toggleEditStream()"><ion-icon name="create"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab bottom right *ngIf="isEditing">
    <button color="danger" ion-fab (click)="toggleEditStream()"><ion-icon name="close"></ion-icon></button>
  </ion-fab>

  <ion-grid>
    <ion-row justify-content-center>
      <ion-col col-sm-12 col-md-10 col-lg-8 col-xl-6>

        <ion-card>
          <img [src]="streamImage" />

          <ion-card-content>

            <div *ngIf="!isEditing">
              <p>
                <strong>Stream IP: </strong>{{stream.ip}}
              </p>
              <p>
                <strong>Description: </strong>{{stream.description}}
              </p>
            </div>

            <form *ngIf="isEditing" [formGroup]="editStreamForm" (ngSubmit)="editStream(editStreamForm.valid)">

              <div padding *ngIf="isEditing">
                <button color="primary" type="button" ion-button block (click)="toggleImageUpload()">Upload Image</button>
              </div>

              <div padding>
                <ion-item secondary>
                  <ion-label floating>Name:</ion-label>
                  <ion-input type="text" formControlName="name" [ngModel]="stream.name"></ion-input>
                </ion-item>
              </div>

              <div padding>
                <ion-item secondary>
                  <ion-label floating>Stream IP:</ion-label>
                  <ion-input type="text" formControlName="ip" [ngModel]="stream.ip"></ion-input>
                </ion-item>
              </div>

              <div padding>
                <ion-item secondary>
                  <ion-label floating>Description:</ion-label>
                  <ion-textarea type="text" formControlName="description" [ngModel]="stream.description"></ion-textarea>
                </ion-item>
              </div>

              <div padding>
                <button color="primary" ion-button block type="submit">Update Stream's Info</button>
              </div>

            </form>

            <div style="height:0px;overflow:hidden">
              <input #imageInputEdit type="file" accept="image/*" />
            </div>

          </ion-card-content>

        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>