<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Users</ion-title>

  </ion-navbar>

</ion-header>

<ion-fab bottom right *ngIf="isMobileDevice">
  <button ion-fab color="secondary" (click)="addNewUser()"><ion-icon name="add"></ion-icon></button>
</ion-fab>

<ion-content>

  <ion-searchbar padding *ngIf="isMobileDevice" (ionInput)="filterUsers($event)"></ion-searchbar>

  <ion-list padding *ngIf="isMobileDevice">

    <ion-item *ngFor="let user of filteredUsers" no-lines (click)="openDetails(user)">

      <ion-thumbnail item-left>
        <img [src]="user.userImageFileName ? (user.userImageDataUrl ? user.userImageDataUrl : user.userImageUrl) : '../../assets/default_image_square.png'">
      </ion-thumbnail>

      <h2>{{user.name}}</h2>
      <p>Instrument: {{user.instrument}}</p>

    </ion-item>

  </ion-list>

  <ion-grid *ngIf="!isMobileDevice">
    <ion-row>

      <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3 (click)="addNewUser()">

        <ion-card>

          <img src="../../assets/new_user.png" />

          <ion-card-content>

            <ion-card-title>
              Add User
            </ion-card-title>

          </ion-card-content>

        </ion-card>

      </ion-col>

      <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3 *ngFor="let user of filteredUsers" (click)="openDetails(user)">

        <ion-card>
          <img [src]="user.userImageDataUrl ? user.userImageDataUrl : user.userImageUrl" />
          <ion-card-content>

            <ion-card-title>
              {{user.name}}
            </ion-card-title>

          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer *ngIf="!isMobileDevice">

  <ion-toolbar>
    <ion-searchbar (ionInput)="filterUsers($event)"></ion-searchbar>
  </ion-toolbar>

</ion-footer>