<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Events</ion-title>
    </ion-navbar>

</ion-header>

<ion-fab bottom right>
    <button ion-fab color="secondary" (click)="addNewEvent()"><ion-icon name="add"></ion-icon></button>
</ion-fab>

<ion-content>

    <ion-searchbar padding *ngIf="isMobileDevice" (ionInput)="filterEvents($event)"></ion-searchbar>

    <ion-list padding *ngIf="isMobileDevice">

        <ion-item *ngFor="let event of filteredEvents" no-lines (click)="openDetails(event)">

            <ion-thumbnail item-left>
                <img [src]="event.eventImageFileName ? (event.eventImageDataUrl ? event.eventImageDataUrl : event.eventImageUrl) : '../../assets/default_image_square.png'">
            </ion-thumbnail>

            <h2>{{event.name}}</h2>
            <p>Description: {{event.description}}</p>

        </ion-item>

    </ion-list>

    <ion-grid *ngIf="!isMobileDevice">
        <ion-row>
            <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3 *ngFor="let event of filteredEvents" (click)="openDetails(event)">

                <ion-card>
                    <img [src]="event.eventImageDataUrl ? event.eventImageDataUrl : event.eventImageUrl">
                    <ion-card-content>

                        <ion-card-title>
                            {{event.name}}
                        </ion-card-title>

                    </ion-card-content>
                </ion-card>

            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>

<ion-footer *ngIf="!isMobileDevice">

  <ion-toolbar>
    <ion-searchbar (ionInput)="filterEvents($event)"></ion-searchbar>
  </ion-toolbar>

</ion-footer>