<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Streams</ion-title>
  </ion-navbar>

</ion-header>

<ion-fab bottom right *ngIf="isMobileDevice">
  <button ion-fab color="secondary" (click)="addNewStream()"><ion-icon name="add"></ion-icon></button>
</ion-fab>

<ion-content>

  <ion-searchbar padding *ngIf="isMobileDevice" (ionInput)="filterStreams($event)"></ion-searchbar>

  <ion-list padding *ngIf="isMobileDevice">
    
    <ion-item *ngFor="let stream of filteredStreams" no-lines (click)="openDetails(stream)">

      <ion-thumbnail item-left>
          <img [src]="stream.streamImageDataUrl ? stream.streamImageDataUrl : stream.streamImageUrl">
      </ion-thumbnail>

      <h2>{{stream.name}}</h2>
      <p>Stream IP: {{stream.ip}}</p>
      <p>Desc: {{stream.description}}</p>

    </ion-item>

  </ion-list>

  <ion-grid *ngIf="!isMobileDevice">
    <ion-row>

      <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3 (click)="addNewStream()">

        <ion-card>

          <img src="../../assets/new_music.png" />

          <ion-card-content>

            <ion-card-title>
              Add Stream
            </ion-card-title>

          </ion-card-content>

        </ion-card>

      </ion-col>

      <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3 *ngFor="let stream of filteredStreams" (click)="openDetails(stream)">

        <ion-card>
          <img [src]="stream.streamImageDataUrl ? stream.streamImageDataUrl : stream.streamImageUrl" />
          <ion-card-content>

            <ion-card-title>
              {{stream.name}}
            </ion-card-title>

          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer *ngIf="!isMobileDevice">

  <ion-toolbar>
    <ion-searchbar (ionInput)="filterStreams($event)"></ion-searchbar>
  </ion-toolbar>

</ion-footer>