<ion-header>

  <ion-navbar>
    <ion-title>{{user.details}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-fab bottom right *ngIf="!isEditing">
    <button ion-fab (click)="toggleEditUser()"><ion-icon name="create"></ion-icon></button>
  </ion-fab>

  <ion-fab bottom right *ngIf="isEditing">
    <button color="danger" ion-fab (click)="toggleEditUser()"><ion-icon name="close"></ion-icon></button>
  </ion-fab>

  <ion-grid>
    <ion-row justify-content-center>
      <ion-col col-sm-12 col-md-10 col-lg-8 col-xl-6>

        <ion-card>
          <img src="../../assets/thumbnail-totoro.png" />

          <ion-card-content>

            <div *ngIf="!isEditing">
               <p>
                <strong>Name: </strong>{{user.name}}
              </p>
              <p>
                <strong>Id: </strong>{{user.id}}
              </p>
              <p>
                <strong>Email: </strong>{{user.email}}
              </p>
              <p>
                <strong>isLoggedIn: </strong>{{user.isLoggedIn}}
              </p>
            </div>

            <form *ngIf="isEditing" [formGroup]="editUserForm" (ngSubmit)="editUser(editUserForm.valid)">

              <div padding>
                <ion-item secondary>
                  <ion-label floating>Name:</ion-label>
                  <ion-input type="text" formControlName="name"></ion-input>
                </ion-item>
              </div>
              <div padding>
                <ion-item secondary>
                  <ion-label floating>Id:</ion-label>
                  <ion-input type="text" formControlName="id"></ion-input>
                </ion-item>
              </div>
              <div padding>
                <ion-item secondary>
                  <ion-label floating>Email:</ion-label>
                  <ion-input type="text" formControlName="email"></ion-input>
                </ion-item>
              </div>
               <div padding>
                <ion-item secondary>
                  <ion-label floating>isLoggedIn</ion-label>
                  <ion-input type="text" formControlName="isLoggedIn"></ion-input>
                </ion-item>
              </div>


              

              <div padding>
                <button color="primary" ion-button block type="submit">Update User's' Info</button>
              </div>

            </form>

          </ion-card-content>

        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>