<!--
  Generated template for the EventDetailsPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{event.name}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-fab bottom right *ngIf="!isEditing">
    <button ion-fab (click)="toggleEditEvent()"><ion-icon name="create"></ion-icon></button>
  </ion-fab>

  <ion-fab bottom right *ngIf="isEditing">
    <button color="danger" ion-fab (click)="toggleEditEvent()"><ion-icon name="close"></ion-icon></button>
  </ion-fab>

  <ion-grid>
    <ion-row justify-content-center>
      <ion-col col-sm-12 col-md-10 col-lg-8 col-xl-6>

        <ion-card>

          <img [src]="eventProfileImage" />

          <ion-card-content>

            <div *ngIf="!isEditing">
              <p>
                <strong>Location: </strong>{{event.location}}
              </p>
              <p>
                <strong>Event Start Date: </strong>{{event.beginDate}}
              </p>
              <p>
                <strong>Event End Date: </strong>{{event.endDate}}
              </p>
              <p>
                <strong>Description: </strong>{{event.description}}
              </p>
              
            </div>

            <form *ngIf="isEditing" [formGroup]="editEventForm" (ngSubmit)="editEvent(editEventForm.valid)">

              <div padding *ngIf="isEditing">
                <button color="primary" type="button" ion-button block (click)="toggleImageUpload()">Upload Image</button>
              </div>

              <div padding>
                <ion-item secondary>
                  <ion-label floating>Name:</ion-label>
                  <ion-input type="text" formControlName="name"></ion-input>
                </ion-item>
              </div>

              <div padding>
                <ion-item secondary>
                  <ion-label floating>Location:</ion-label>
                  <ion-input type="text" formControlName="location"></ion-input>
                </ion-item>
              </div>

              <div padding>
                <ion-item secondary>
                  <ion-label floating>Event Start Date:</ion-label>
                  <ion-datetime type="text" displayFormat="MM/DD/YYYY" formControlName="beginDate"></ion-datetime>
                </ion-item>
              </div>

              <div padding>
                <ion-item secondary>
                  <ion-label floating>Event End Date:</ion-label>
                  <ion-datetime type="text" displayFormat="MM/DD/YYYY" formControlName="endDate"></ion-datetime>
                </ion-item>
              </div>

              <div padding>
                <ion-item secondary>
                  <ion-label floating>Description:</ion-label>
                  <ion-textarea type="text" formControlName="description"></ion-textarea>
                </ion-item>
              </div>
              
              <div padding>
                <button color="primary" ion-button block type="submit">Update Event's Info</button>
              </div>

              <div style="height:0px;overflow:hidden">
                <input type="file" id="editEventImageUpload" name="editEventImageUpload" accept="image/*" />
              </div>

            </form>

          </ion-card-content>

        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>