<ion-header>

  <ion-navbar>
    <ion-title>{{musician.name}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-fab right bottom *ngIf="!isEditing">
    <button ion-fab color="primary"><ion-icon name="build"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab color="danger" (click)="toggleDeleteMusician()"><ion-icon name="trash"></ion-icon></button>
      <button ion-fab color="primary" (click)="toggleEditMusician()"><ion-icon name="create"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab bottom right *ngIf="isEditing">
    <button color="danger" ion-fab (click)="toggleEditMusician()"><ion-icon name="close"></ion-icon></button>
  </ion-fab>

  <ion-grid>
    <ion-row justify-content-center>
      <ion-col col-sm-12 col-md-10 col-lg-8 col-xl-6>

        <ion-card>
          <img [src]="musicianProfileImage" />

          <ion-card-content>

            <div *ngIf="!isEditing">
              <p>
                <strong>Instrument: </strong>{{musician.instrument}}
              </p>
              <p>
                <strong>Description: </strong>{{musician.description}}
              </p>
            </div>

            <form *ngIf="isEditing" [formGroup]="editMusicianForm" (ngSubmit)="editMusician(editMusicianForm.valid)">

              <div padding *ngIf="isEditing">
                <button color="primary" type="button" ion-button block (click)="toggleImageUpload()">Upload Image</button>
              </div>

              <div padding>
                <ion-item secondary>
                  <ion-label floating>Name:</ion-label>
                  <ion-input type="text" formControlName="name" [ngModel]="musician.name"></ion-input>
                </ion-item>
              </div>

              <div padding>
                <ion-item secondary>
                  <ion-label floating>Instrument:</ion-label>
                  <ion-input type="text" formControlName="instrument" [ngModel]="musician.instrument"></ion-input>
                </ion-item>
              </div>

              <div padding>
                <ion-item secondary>
                  <ion-label floating>Description:</ion-label>
                  <ion-textarea type="text" formControlName="description" [ngModel]="musician.description"></ion-textarea>
                </ion-item>
              </div>

              <div padding>
                <button color="primary" ion-button block type="submit">Update Musician's Info</button>
              </div>

              <div style="height:0px;overflow:hidden">
                <input #image type="file" accept="image/*" />
              </div>

            </form>

          </ion-card-content>

        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>